.selected-jobs {
    max-width: 76rem;
    margin-top: 68px;
    margin: 0 auto;
    padding: 32px;
}

.selected-list {
    margin-top: 64px;
}

.selected-card {
    display: flex;
    padding: 32px 0px;
}

.small-info-container {
    margin-top: 20px;
}

.selected-enterprise {
    margin-right: 32px;
}

.remove-selected-card {
    width: 44px;
    height: 38px;
    background-color: var(--color-grey-5);
    border: 2px solid var(--color-grey-5);
    border-radius: var(--radius-default);
}